<!--Mistura de c sharp com html-->
@{
    <!--Titulo que fica no topo da página-->
    ViewData["Title"] = "Cadastro"; 
}

<!--Nome do titulo dentro da página-->
<h2>Dados do seu Cadastro</h2>

<ul>
    <li>@ViewData["ID"]</li>
    <li>@ViewData["Mensagem"]</li>
    <li>@ViewData["Livro"]</li>
    <li>@ViewData["E-mail"]</li>
    <li>@ViewData["GeneroLivro"]</li>
</ul>